.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  min-width: 125px;
}

.search {
  @apply p-2 ml-2 rounded-lg border border-gray-800 w-full focus:outline-none focus:ring focus:ring-violet-300;
}

.searchBtn {
  position: relative;
  transform: translateX(-46px);
  padding: 15px;
  border-left: 1px solid;
  @apply hover:bg-gray-200 rounded-r-lg hover:border hover:border-gray-800;
}

.btnWraps {
  @apply flex max-sm:mt-1;
  height: 50px;
}

.navStyle {
  @apply p-3 flex justify-between max-sm:flex-col;
  align-items: center;
}

.filterContainer {
  @apply flex p-3 justify-between max-sm:flex-col;
}

.applyBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}

.mainModal {
  background-color: rgba(0,0,0,0.4);
  width: 100vw;
  height: 110vh;
  position: absolute;
  overflow: hidden;
  z-index: 1;
  transform: translateY(-140px);
}

.modal {
  @apply bg-white p-3 rounded-lg;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 400px;
}

.shopBtn {
  @apply flex mr-2 p-2 border border-gray-800 rounded-md hover:bg-gray-200;

}

@media (max-width: 640px) {
  .logo {
    @apply w-3/4; 
  }
  .navStyle {
    align-items: flex-start;
  }
  .filterContainer {
    align-items: flex-start;
  }

  .filterContainer button {
    width: 100%;
  }

  .modal {
    top: 40%;
    width: 90%;
    height: 70%;
  }
}

@media (max-width: 400px) {
  .search {
    width: auto;
  }
  .logo {
    width: auto;
    min-width: 0;
  }
  .logo h1 {
    /* font-size: 0.75rem; */
    display: none;
  }
  .img {
    width: 50px;
    height: 50px;
  }
}